#app {
    width: 400px;
    margin: 0 auto;
    position: relative;
}
body{
  font-family: "Gill Sans", sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

.marker {
    position: absolute;
    width: 60px;
    left: 172px;
    top: -20px;
    z-index: 2;
}

.buttons {
    font-size: 15px;
    display: block;
    width: 250px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-weight: 700;
    background-color:#006BA6;
    color :#FBFEF9;
    border-radius: 22px;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.buttons:hover{
    opacity: 0.8;
    color: #FBFEF9;
    background-color:#EAC435;
    text-decoration: none;
}

.buttons:disabled {
  cursor: not-allowed;
  color: #FBFEF9;
  background-color: #006BA6;
  opacity: 0.5;
}

h2{
  color:#006BA6;
  margin: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}

label {
  color:#006BA6;
}

.scoreDiv {
  animation: scoreAnim 3s ease forwards;
  padding: 6px 4px 2px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 8px 10px #00000019;
}

@keyframes scoreAnim {
  from {
    opacity: 100;
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

#sentence-shark{
  color:#006BA6;
  text-align: center;
}

#wheelGenerator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wheelContainer div {
  margin: 10px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
    align-items: center;
}

#colorGrid {
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
}

#colorChoice{
  align-items: center;
  margin:auto;
  text-align: center;
  margin-bottom: 35px;
}

#colorGrid .submarineColor.inactive{
  opacity: 0.4;
}

.submarineColor {
  width: 40px;
  height: 40px;
  margin: 2px;
  background-color: #fdcc1a;
  border-radius: 50%;
  transition : all 300ms ease;
  cursor: pointer;
  display: inline-block;
}

.submarineColor:hover {
  opacity: 0.7;
}

.submarineColor.active{
  border: 2px solid rgba(0,0,0,0.8);
}

#shark, #submarine{
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 8px 10px #00000019;
  transition: all 300ms ease-in-out;
  margin-top: 8px;
  animation-name : move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

table#parcours {
  margin:auto;
  border-spacing: 5px;
}

table#parcours tr{
  transition: all 300ms ease-in-out;
  animation-name : water;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background: #5B86E5;
  background: -webkit-linear-gradient(90deg, #5B86E5, #4ce6f1);
  background: linear-gradient(90deg, #5B86E5, #4ce6f1);
  background-size: 300% 300%;
}

@keyframes move{
  0% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-4px); 
  }
  100% {
    transform: translateY(0); 
  }
}

@keyframes water{
  0%{
    background-position: 10% 0%
  }
  50%{
    background-position: 91% 100%
  }
  100%{
    background-position: 10% 0%
  }
}

#wrapper-tours{
  text-align: center;
  text-align: center;
  padding: 20px 0 40px;
  font-weight: bold;
  color: #006BA6;
  font-size: 26px;
}

table#parcours tr td{
  border-collapse:collapse;
  padding-bottom: 2px;
  width: 100px;
  height: 100px;
  text-align: center;
}

table#score-shark{
  width:500px;
  margin:auto;
}

table#score-shark tr td{
  border-collapse:collapse;
  background-color:#84D2F6;
  color: white;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 2px;
}

table#score-shark tr th{
  background-color:#006BA6;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  text-align: center;
  border-radius: 2px;
}
  
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */

  border-radius: 30px;

  background: -moz-linear-gradient(left, #ff9e8c 0%, #91E1F9 100%);
  background: -ms-linear-gradient(left, #ff9e8c 0%, #91E1F9 100%);
  background: -o-linear-gradient(left, #ff9e8c 0%, #91E1F9 100%);
  background: -webkit-linear-gradient(left, #ff9e8c 0%, #91E1F9 100%);
  background: linear-gradient(to right, #ff9e8c 0%, #91E1F9 100%);

  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 30px;
  background: #DDD;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 30px;
  background: #DDD;
  cursor: pointer; /* Cursor on hover */
}

#slider-text {
  font-size: medium;
}

#wrapper-modale{
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  margin: auto;
  text-align: center;
  overflow: scroll;
}

#wrapper-modale #modale{
  margin : 70px auto;
  border-radius: 4px;
  background-color: #fff;
  padding: 30px;
  width: 600px;
  position: relative;
  text-align: center;
}

#wrapper-modale #modale #button-modale, #wrapper-modale #modale #close-modale{
  display: inline-block;
  margin: auto;
  padding: 20px;
  background:#fdcc1a;
  text-align: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border-radius :10px;
}

#wrapper-modale.open{
  display: block;
  margin: auto;
  text-align: center;
}

#modale-title {
  color:#006BA6;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 5px;
}

#modale-text{
  color:#fdcc1a;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#modale-text h3{
  text-align: center;
}

#shark-state.hidden, #rules.hidden{
  display: none;
}

#rules p{
  text-align: justify;
}

#rules h3{
 margin-bottom: 20px;
}

#rules form{
  margin-top: 35px;
  margin-bottom: 12px;
}

#sentence-binomiale{
  color:#006BA6;
  font-weight: normal;
}

#info-div {
  display: flex;
  justify-content: center;
}