#app {
    width: 400px;
    margin: 0 auto;
    position: relative;
}
body{
  font-family: "Gill Sans", sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
}

.marker {
    position: absolute;
    width: 60px;
    left: 172px;
    top: -20px;
    z-index: 2;
}

.buttons {
    font-size: 15px;
    display: block;
    width: 250px;
    margin-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    font-weight: 700;
    background-color:#EAC435;
    color :#FBFEF9;
    border-radius: 22px;
    border: none;
    outline: none;
    transition: all 0.2s linear;
}

.buttons:hover{
    opacity: 0.8;
    color: #FBFEF9;
    background-color:#84D2F6;
    text-decoration: none;
}

.buttons:disabled {
  cursor: default;
  color: #FBFEF9;
  background-color: #006BA6;
  opacity: 1;
}

h2{
  color:#006BA6;
  margin: 20px;
  text-align: center;
}

label {
  color:#006BA6;
}

#sentence-shark{
  color:#006BA6;
  text-align: center;
}

#wheelGenerator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#wheelGenerator div {
  margin: 10px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    display: flex;
    align-items: center;
  }

#shark, #submarine{
  width: 50px;
}

table#parcours {
  margin:auto;
  border-spacing: 5px;
}

table#parcours tr td{
  border-bottom:5px solid #84D2F6;
  border-collapse:collapse;
  padding-bottom: 2px;
  width: 100px;
  height: 100px;
  background:white;
  text-align: center;
}

table#score-shark{
  width:500px;
  margin:auto;
}

table#score-shark tr td{
  border-collapse:collapse;
  background-color:#84D2F6;
  color: white;
  font-weight: normal;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border-radius: 2px;
}

table#score-shark tr th{
  background-color:#006BA6;
  color: white;
  font-weight: bold;
  padding: 20px 30px;
  text-align: center;
  border-radius: 2px;
}
  
/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */

  border-radius: 30px;

  background: -moz-linear-gradient(left, #ff4a4a 0%, #FFDF65 100%);
  background: -ms-linear-gradient(left, #ff4a4a 0%, #FFDF65 100%);
  background: -o-linear-gradient(left, #ff4a4a 0%, #FFDF65 100%);
  background: -webkit-linear-gradient(left, #ff4a4a 0%, #FFDF65 100%);
  background: linear-gradient(to right, #ff4a4a 0%, #FFDF65 100%);

  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 30px;
  background: #DDD;
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 30px;
  background: #DDD;
  cursor: pointer; /* Cursor on hover */
}